.App {
  text-align: center;
  overflow: scroll;
  background-color: rgb(173, 166, 218);
  z-index: -10;
}

.home-container {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  padding-left: 10px;
  margin-bottom: 10px;
  overflow: scroll;
}
.welcome-text {
  padding: 20px 10px;
  width: 30%;
  text-align: left;
}
.header {
  background-image: url(https://images.unsplash.com/photo-1542831371-29b0f74f9713?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y29kaW5nfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60);
  background-size: cover;
  height: 30vh;
  width: 100vw;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.sidebar-container {
  width: 15%;
}

ul {
  list-style: none;
  text-align: left;
}

.group-form {
  width: 20%;
  height: 600px;
  padding: 10px;
  background-color: white;
}
.group-card {
  position: relative;
  background-color: white;
  z-index: 1;
  overflow: auto;
}
.text {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.text div {
  text-align: left;
}

.image {
  position: absolute;
  z-index: -1;
  opacity: 0.3;
}

.image-home {
  margin-top: 25px;
  width: 35%;
}

.groups-list-Container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}
.groups-cards-Container {
  width: 80%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.pioneers-list-Container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px;
}

.pioneers-cards-text {
  padding-left: 20px;
  text-align: left;
}
.pioneer-card {
  background-color: white;
  overflow: auto;
}
.pioneers-form {
  width: 25%;
  height: 600px;
  padding: 10px;
  margin-top: 20px;
  background-color: white;
}
.nav-link {
  margin: 0px 20px;
  color: rgb(169, 115, 201);
}

.footer {
  margin-top: 10px;
  padding: 20px;
  background-color: #282c34;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: small;
  color: white;
  width: 100%;
}

button {
  background-color: black;
  color: white;
  margin-top: 10px;
}

.ankerlinks {
  display: block;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: baseline;
  height: 20px;
  width: 150px;
  background-color: black;
  color: white;
  text-decoration: none;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 4px;
  margin: 10px;
}
.ankerlinks-container {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.events-list {
  height: 100vh;
}
@media screen and (max-width: 1024px) {
  .ankerlinks-container {
    justify-content: center;
    margin-top: 10px;
  }
  .sidebar-container {
    width: 80%;
    height: 150px;
    overflow: auto;
    margin: auto;
    border: none;
  }
  .pioneers-list-Container {
    display: flex;
    flex-direction: column;
  }
  .groups-list-Container {
    display: flex;
    flex-direction: column;
  }
  .groups-cards-container {
    display: flex;
    flex-direction: column;
  }
  .home-container {
    display: flex;
    flex-direction: column;
  }
  .group-card {
    min-width: 200px;
    height: 300px;
    margin: auto;
  }
  .group-form {
    min-width: 200px;
    height: 300px;
    margin: auto;
    overflow: auto;
  }
  .pioneer-card {
    min-width: 200px;
    height: 300px;
    margin: auto;
  }
  .pioneers-form {
    min-width: 200px;
    height: 300px;
    margin: auto;
    overflow: auto;
  }
  .welcome-text {
    width: 80vw;
    margin: auto;
    height: 300px;
  }
  .image-home {
    width: 80vw;
    margin: auto;
    height: 300px;
  }
}
